<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <%- include("partials/errors") %>
    <% if(!locals.user) { %>
      <a href="/login-form">Member login</a>
    <a href="/sign-up-form">Sign up</a>
    
    <%} else { %>
         <% if(user.role_id === 4) { %>
                <a href="/site-manager">site-management</a>
            <%}%>
         <a href="/logout">Logout</a>
         <div class="index-header">
        <h3>Welcome back <%=user.firstname %></h3>
        <div class="role">
            Status: <%=user.role%>
            </div>
           
        </div>
        <% if(locals.user.role_id <= 1) { %>
            <a href="member-upgrade">Upgrade to member</a>
        <%}%>
    <%}%>
    <div class="messages-container">
 <%- include("partials/messages", {messages}) %>
    <% if(locals.user && locals.user.role_id > 1) {%>

<%-include("partials/new-message") %>
  <% } %>
  </div>
</body>
</html>